<nav>
    <div class="site-title">
    <a href="/"><h1>Islam Blog</h1></a>
    <p>Node.js Blog</p>
    </div>
    <ul>
    <li><a href="/">Blogs</a></1i>
    <li><a href="/about">About</a></1i>
    <li><a href="/blogs/create">New Blog</a></1i>
    </ul>
    </nav>